<div>
  <%= simple_form_for [@organisation, chat, message] do |f| %>
    <%= f.input :content, label: "Inquire with ReDuckt AI", required: true, placeholder: "What's top of mind? Ask me about your expenses or deductions." %>

    <%= f.button :submit, "Send", class: 'btn btn-primary' %>

    <%# making a paperclip icon upload %>
    <label for="message_file" class="paperclip-upload">
      <i class="fa fa-paperclip fs-4"></i>
      <span>optional attachment</span>
    </label>
    <%= f.input :file, as: :file, input_html: { id: "message_file", class: "d-none" }, label: false %>

  <% end %>
</div>
