<%# Re-using much from CoOwners %>
<div class="sidebar position-sticky sticky-top pt-4">
  <ul class="nav flex-column px-3">

    <%= button_to organisation_chats_path(@organisation), class: "btn btn-primary btn-smaller ai-button" do %>
      <i class="fa-solid fa-wand-magic-sparkles"></i>
      Analysis & Insights
    <% end %>

    <li class="nav-item"><div class="my-3 border-top mb-4"></div></li>

    <li class="nav-item">
      <% if recent_chats.length > 0 %>
        <% recent_chats.each do |chat| %>
          <%= link_to organisation_chat_path(@organisation, chat),
              class: "nav-link sidebar-link-box #{current_page?(organisation_chat_path(@organisation, chat)) ? 'bg-primary text-white' : 'text-dark'} mb-1" do %>

            <div class="me-3">
              <i class="fa-solid fa-chart-column text-primary"></i>
            </div>

            <div class="flex-fill text-truncate">
              <div class="fw-semibold text-truncate">
                <%= truncate(chat.title, length: 20) %>
              </div>
              <small class="text-muted text-truncate d-block">
                <% if chat.messages.any? %>
                  <%= truncate(chat.messages.last.content, length: 26) %>
                <% else %>
                  No messages yet
                <% end %>
              </small>
            </div>

          <% end %>
        <% end %>
      <% else %>
        <p> no recent queries </p>
      <% end %>
    </li>

  </ul>
</div>
