<div style='display:flex; justify-content:center'>
  <div class="chat-wrapper"'>

    <h1 id="chat_title" class='form-title'>
      <%= @chat.title %>
    </h1>

    <div id="messages">
      <%= render "messages/messages", messages: @chat.messages %>
    </div>

    <div id="new_message_container" class='message-form-bottom'>
      <%= render "messages/form", chat: @chat, message: @message %>
    </div>
  </div>
</div>
