<div class="chat-wrapper"'>

  <div class='chat-top-half'>

    <h1 id="chat_title">
      <%= @chat.title %>
    </h1>

    <div id="messages">
      <%= render "messages/messages", messages: @chat.messages %>
    </div>

  </div>

  <div id="new_message_container" class='message-form-bottom'>
    <%= render "messages/form", chat: @chat, message: @message %>
  </div>
</div>
