<div class='landing-container'>

  <div class='hero-box'>

    <div class='hero-text-box'>
      <div class='landing-title'>
        Expenses
        <span class='gradient-test'>Reimagined</span>
      </div>

      <div class='landing-subtitle'>
        Reimbursements + Deductions for Small Businesses made Magically Easy by AI
      </div>
    </div>

    <div class='app-screenshots'>
      <%= image_tag "app-screenshots.png", alt: "app-screenshots" %>
    </div>

  </div>

  <div class='landing-spacer'></div>

  <div class='mobile-app-section'>

    <div class='mobile-app-info-box'>
      <div class='d-flex justify-content-start'>
        <div class='mobile-app-title mb-2'>
          <i class="fa-mobile-screen-button fa-solid"></i>
          <div>Equip your Employees</div>
        </div>
      </div>
      <p>Snap a receipt, dictate, or upload a file—that's it, we take care of the rest</p>
    </div>

    <div class='mobile-app-vid'>
      <video autoplay muted loop playsinline>
        <source src="duck-app-test.mp4" type="video/mp4">
      </video>
    </div>

  </div>

  <div class='landing-spacer'></div>


</div>
