<div class='landing-container'>

  <div class='hero-text-box'>
    <div class='landing-title'>
      Expenses
      <span class='gradient-test'>Reimagined</span>
    </div>

    <div class='landing-subtitle'>
      Reimbursements + Deductions for Small Businesses made Magically Easy by AI
    </div>
  </div>

</div>
